.text
{
    font-size: 40px;
    color: red;
    margin-top: 40px;
    
}
body
{
    background-color: blue;
    background-attachment: fixed;
    background-size: auto;
    background-repeat: repeat;
}
*
{
    font-family: 'Quicksand', sans-serif;
}
a
{
    color: rgb(145, 255, 0);
    transition: 1s;
    text-decoration: none;
}
a:visited
{
    color: rgb(21, 255, 0);
    transition: 1s;
    text-decoration: none;
}
a:hover
{
    color: rgb(46, 113, 139);
    transition: 1s;
    text-decoration: none;
}
ol
{
    color:sienna;
    background-color: red;
    border: 5px solid rgb(21, 255, 0);
    
}