*
{
    font-family: 'Quicksand', sans-serif;
}
.no
{
    font-size: 80px;
    color: blue;
}
body
{
    background-color: black;
}
a:hover
{
    transition: 1s;
    color: red;
}
a
{
    transition: 1s;
    color: blue;
}
a:visited
{
    transition: 1s;
    color: blue;
}
ol
{
    background-color: coral;
    border:5px solid salmon;
}
ul
{
    background-color: coral;
    border: 5px solid blue;
}
.przech
    {
    font-style: italic;
}
.pogru
{
    font-size: 80px;
}
.pod
{
    text-decoration: underline;
}
.text
{
   margin-top: 10x;
    color:seashell;
   font-size: small; 
}
#config
{
    width: 100%;
}
#nav
{
    color: blue;
      height: 100px;
    text-align: center;

}